*{
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
    text-decoration: none;
}
body{
    height: 100vh;
    text-align: center;
    background-color: #ffffff;
    padding: 2rem;
}
.header-content{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(46, 45, 45);
    text-decoration: none;
    gap: 0.625rem;
}
.logoimage{
    height: 1.875rem;
    width: 1.938rem;
}
.logo-text{
    font-size: 2rem;
    font-weight: bold;
}
.nav{
    display: none;
    gap: 1.5rem;
}
@media screen and (min-width:768px) {
    .nav{
        display: flex;
    }
}
.nav-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}
.nav-link:hover{
    color: blue;
}
.contact-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: blue;
    color: white;
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
@media screen and (min-width:768px) {
    .contact-button{
        display: block;
    }
}
.contact-button:hover{
    background-color: #5254f8;
}
.menu-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
}
@media screen and (max-width:768px) {
    .menu-button{
    display: block;
}
}
.main-section{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}
.content-left{
    text-align: center;
    animation: slidefromleft 1s ease forwards;
    opacity: 0;
}
@keyframes slidefromleft{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color: rgb(47, 47, 222);
}
.section-title{
    font-size: 2.3rem;
    padding: 1.1rem;
}
.section-description{
    color: gray;
    font-size: 1.13rem;
}
.button-group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}
.start-button,
.take-button{
    border: none;
    border-radius: 0.375rem;
    background-color: blue;
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: white;
}
.take-button{
    background-color: gray;
}
.start-button:hover{
    background-color: rgb(24, 24, 180);
}
.take-button:hover{
    background-color: rgb(80, 78, 78);
}
.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 8px black;
    height: 52vh;
}
.image-section{
    height: 100%;
    width: 100%;
}
@media screen and (min-width:768px){
    .main-section{
        flex-direction: row;
    }
    .content-left{
        max-width: 50%;
        text-align: left;
    }
    .section-title{
        padding-left: 0;
        font-size: 4rem;
    }
    .button-group{
        justify-content: start;
        padding-left: 0;
    }
    .image-container{
        height: 70vh;
    }
    
}
.company-container{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    animation: slidefromleft 1s ease forwards;
}
.company-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    padding: 1rem;
    background-color: lightgray;
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 15px black;
}
.company-logo{
    font-size: 1rem;
    font-weight: 500;
    color: gray;
    display: flex;
    gap: 0.5rem;
}
.svg-image{
    height: 1.2rem;
}
.logo-text{
    font-size: 1rem;
}
@media screen and (min-width:640px){
    .company-grid{
        grid-template-columns: repeat(4,1fr);
    }
}
.feature-container{
    background-color: rgb(236, 234, 234);
    padding: 2.5rem 0;
    text-align: center;
    box-sizing: border-box;
}
.feature-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem 2rem;
    box-sizing: border-box;
    overflow: auto;
}
.main-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.main-info h2{
    font-size: 2.2rem;
}
.main-info p{
    color: gray;
}
.feature-grid{
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(2,1fr);
    margin-top: 1.3rem;
}
.features-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: violet;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    color: white;
    padding: 1.3rem;
    gap: 1rem;
}
.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.feature-title{
    font-weight: bold;
    font-size: 1.3rem;
}
.icon-container{
    background-color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-svg{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}
.features-card:nth-child(2){
    background-color: blueviolet;
}
.features-card:nth-child(3){
    background-color: rgb(127, 208, 5);
}
.features-card:nth-child(4){
    background-color: pink;
}
.features-card:nth-child(5){
    background-color: rgb(221, 72, 102);
}
.features-card:nth-child(6){
    background-color: rgb(190, 3, 190);
}
@media screen and (max-width:768px) {
    .feature-grid{
        grid-template-columns: repeat(1,1fr);
    }
}
.testimonial-container{
    background-color: white;
    padding: 2rem;
    margin: 0 auto;
    max-width: 1280px;
}
.testimonial-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.testimonial-content h2{
    font-size: 1.875rem;
    font-weight: bold;
}
.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
}
.testimonial-card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(70, 68, 68);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgb(125, 125, 125);
    padding: 1rem;
    gap: 1rem;
    transition: all 0.2s linear 0s;
}
.testimonial-card:hover{
    transform: scale(1.05);
    border: 1px solid blue;
}
.testimonial-avatar img{
    height: 5rem;
    width: 5rem;
}
.testimonial-text{
    font-size: 0.875rem;
    color: #555;
}
.testimonial-details h3{
    color: rgb(55, 55, 225);
}
.testimonial-details p{
    font-size: 0.875rem;
    color: #777;
}
@media screen and (max-width:768px){
    .testimonial-grid{
        grid-template-columns: repeat(1,1fr);
    }
}
.newsletter-container{
    background-color: white;
    max-width: 1280px;
    height: 40vh;
    margin: 0 auto;
}
.newsletter-content{
    display: flex;
    background-color: lightgray;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: left;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}
.news-left{
    height: 100%;
    width: 100%;
    display: none;
    position: relative;
}
@media screen and (min-width:440px) {
    .news-left{
        display: block;
        width: 50%;
        height: 100%;}
      .news-right{
        padding: 4rem;
        width:  100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.news-left img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}

.news-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    align-items: flex-start;
}
.news-info{
    padding-left: 1rem;
}
.news-info h2{
    color: rgb(9, 9, 194);
    font-size: 1.5rem;
    font-weight: bold;
}
.news-info p{
    text-align: left;
    color: rgb(74, 71, 71);
}
.news-form{
    padding: 1rem;
    display: flex;
    /* flex-wrap: wrap; */
    margin-bottom: 1rem;
    gap: 0.6rem;
}
.news-email{
    background-color: rgb(235, 234, 234);
    width: 100%;
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
}
.news-email:focus{
    border-color: #5254f8;
    box-shadow: 0 1px 2px #5254f8;
}
.news-button{
    background-color: #5254f8;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    transition: all 0.1s linear 0s;
}
.news-button:hover{
    background-color: blue;
}
.privacy-policy{
    font-size: 0.76rem;
    padding: 0 1rem;
    color: #777;
}
.news-link{
    text-decoration: underline;
    color: #5254f8;
}
@media screen and (min-width:640px) {
    .news-info h2{
        font-size: 2.5rem;
    }
}